{
  "features": {
    "urlCleaner": {
      "followRedirect": { "type": "all" },
      "reserveRules": [
        {
          "urlMatch": "^http(s)?://www.bilibili.com/.*",
          "reserveQueryKeys": ["t"]
        },
        {
          "urlMatch": "^http(s)?://www.youtube.com/.*",
          "reserveQueryKeys": ["v", "t", "list", "index"]
        }
      ],
      "autoCleanGroups": [
        {
          "chatId": "",
          "urlMatches": [
            "^http(s)?://www.bilibili.com/.*",
            "^http(s)?://t.bilibili.com/.*",
            "^http(s)?://www.youtube.com/.*",
            "^http(s)?://youtu.be/.*",
            "^http(s)?://b23.tv/.*"
          ]
        }
      ]
    }
  }
}
